language: go
sudo: false

matrix:
  include:
    - go: 1.7.x
    - go: 1.8.x
    - go: 1.9.x
    - go: 1.10.x
  allow_failures:
    - go: master

install:
  - go get golang.org/x/tools/cmd/goimports
  - go get -u golang.org/x/lint/golint

script:
  - go get -t $(go list ./... | grep -v /vendor/)
  - make vet lint test-nohsm

notifications:
  email:
    recipients:
      - cbroglie@cloudflare.com
      - kyle@cloudflare.com
