# Gopkg.toml example
#
# Refer to https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md
# for detailed Gopkg.toml documentation.
#
# required = ["github.com/user/thing/cmd/thing"]
# ignored = ["github.com/user/project/pkgX", "bitbucket.org/user/project/pkgA/pkgY"]
#
# [[constraint]]
#   name = "github.com/user/project"
#   version = "1.0.0"
#
# [[constraint]]
#   name = "github.com/user/project2"
#   branch = "dev"
#   source = "github.com/myfork/project2"
#
# [[override]]
#   name = "github.com/x/y"
#   version = "2.4.0"
#
# [prune]
#   non-go = false
#   go-tests = true
#   unused-packages = true


[[constraint]]
  name = "github.com/cloudflare/cfssl"
  version = "1.3.0"

[[constraint]]
  branch = "master"
  name = "github.com/cloudflare/go-metrics"

[[constraint]]
  branch = "master"
  name = "github.com/joshlf/testutil"

[[constraint]]
  branch = "master"
  name = "github.com/lziest/ttlcache"

[[constraint]]
  name = "github.com/miekg/dns"
  version = "1.0.4"

[[constraint]]
  name = "github.com/prometheus/client_golang"
  version = "0.8.0"

[[constraint]]
  branch = "master"
  name = "go4.org"

[[constraint]]
  branch = "session-handles"
  name = "github.com/cbroglie/crypto11"

[prune]
  go-tests = true
  unused-packages = true
