name: Go Test

on:
  push:
  pull_request:
    branches: [master]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [stable, oldstable]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
      - run: go install github.com/ory/go-acc@latest
      - run: go-acc -o coverage.txt ./... -- -race -tags integration
      - run: make test-trust
      - uses: codecov/codecov-action@v4
  test-hsm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable
      - run: sudo apt-get update && sudo apt-get install -y softhsm2
      - run: sudo cp -r tests/testdata/tokens/* /var/lib/softhsm/tokens
      - run: go install github.com/ory/go-acc@latest
      - run: go-acc -o coverage.txt ./... -- -race -tags pkcs11
        env:
          TEST_SOFT_HSM: true
      - uses: codecov/codecov-action@v4
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
      - name: Install golint
        run: go install ./vendor/golang.org/x/lint/golint
      - name: Go Lint
        run: make gokeyless vet lint
