name: Go Test

on:
  push:
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ["1.17", "1.18"]
    env:
      GOFLAGS: "-mod=vendor"
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
      - name: Go Test
        run: make test-nohsm test-trust
  lint:
    runs-on: ubuntu-latest
    env:
      GOFLAGS: "-mod=vendor"
    steps:
      - uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18
      - name: Install golint
        run: go install ./vendor/golang.org/x/lint/golint
      - name: Go Lint
        run: make gokeyless vet lint
